/*
Theme Name: Dracula Publisher 2
Theme URI: https://github.com/danielwrobert/dracula-publisher-2
Author: Dan Robert
Author URI: https://dwr.io
Template: independent-publisher-2
Description: A child theme for Independent Publisher 2.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: independent-publisher-2-plus
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

:root {
	/* Base Theme Colors */
	--background-color: #383a59;
	--text-color: #f2f2f2;
	--highlight-color--1: #bd93f9;
	--highlight-color--2: #ff79c6;
	--highlight-color--3: #50fa7b;
	--highlight-color--4: #ffb86c;
	--highlight-color--5: #8be9fd;
	--shadow-color-light: #bcc2cd;
	--shadow-color: #282a36;

	/* WordPress Theme Colors (uses base) */
	--meta-text-color: var(--highlight-color--1);
	--header-color: var(--highlight-color--3);
	--highlight-color: var(--highlight-color--2);
	--highlight-color-alt: var(--highlight-color--5);
	--border-color: var(--highlight-color--4);
	--button-color: var(--highlight-color--1);
	--dark-shadow-color: var(--shadow-color);
	--code-block-color: #fdf6e3;

}
body{
	background-color: var(--background-color);
}
body,
.entry-content,
.entry-summary,
.entry-meta,
.entry-footer,
.page-content,
.site-info,
.main-navigation,
.comments-area,
.button,
.more-link,
button:not(.menu-toggle),
input[type="button"],
input[type="reset"],
input[type="submit"],
.posts-navigation .nav-links a,
#content #infinite-handle span button {
	font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
h1,
h2,
h3,
h4,
h5,
h6,
.page-header:not(.page-header-light) h1,
.entry-author .author-title,
.entry-title,
.entry-title a,
.entry-title a:visited,
.site-posted-on strong,
.site-posted-on time,
.site-title,
.site-description,
.comments-title,
.comment-reply-title,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	font-family: 'Ovo', serif;
}
.site-title {
	font-size: 45px;
}
.site-description {
	font-style: italic;
}
body,
button,
input,
select,
textarea,
.widget_recent_comments a,
.widget_recent_entries a {
	color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
.page-header:not(.page-header-light) h1,
.entry-author .author-title,
.entry-title,
.entry-title a,
.entry-title a:visited,
.site-posted-on strong,
.site-title,
.site-title a,
.site-title a:visited,
.entry-title a:hover,
.site-title a:hover,
.comment .comment-meta .comment-author .fn {
	color: var(--header-color);
}
.entry-content h2,
.entry-content h3 {
	color: var(--highlight-color--1);
}
.entry-content .sd-title,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	color: var(--highlight-color--5);
}
.site-title a {
	color: var(--header-color) !important;
}
.site-description {
	color: var(--highlight-color--1);
	font-size: 20px;
}
a,
a:visited,
.comment .comment-meta .comment-metadata a:hover,
.comment-form span.required,
.pingback:before,
.post-details a:hover,
.post-edit-link a:active,
.post-edit-link a:focus,
.post-edit-link a:hover,
.site-info a:hover,
.trackback:before {
	color: var(--highlight-color);
}
.widget-area a,
.widget-area a:visited,
.main-navigation a,
.main-navigation a:visited,
.site-info {
	color: var(--text-color);
}
.main-navigation {
	font-weight: 400;
}
.main-navigation li.current-menu-item > a,
.main-navigation li.current_page_item > a {
	color: var(--highlight-color);
}
.entry-meta,
.entry-meta a:hover,
.entry-meta a {
	color: var(--highlight-color--4);
}
a:hover,
a:focus,
a:active {
	color: var(--highlight-color);
}
.post-tags li a,
.entry-footer {
	color: var(--highlight-color);
}
.post-tags li:first-child {
	color: var(--header-color);
}
.post-tags a:hover {
	color: var(--highlight-color);
}
.post-tags > li > a:hover {
	text-decoration: underline;
}
.site-posted-on time,
.site-posted-on strong {
	color: var(--text-color);
}
.comment-form label {
	color: var(--header-color);
}
.jetpack-social-navigation li a,
.widget_wpcom_social_media_icons_widget li a {
	color: var(--text-color);
}
.jetpack-social-navigation li a:hover,
.widget_wpcom_social_media_icons_widget li a:hover,
.jetpack-social-navigation li a:focus,
.widget_wpcom_social_media_icons_widget li a:focus,
.jetpack-social-navigation li a:active,
.widget_wpcom_social_media_icons_widget li a:active {
	color: var(--highlight-color--5);
}
#jp-relatedposts
	.jp-relatedposts-items
	.jp-relatedposts-post
	.jp-relatedposts-post-context,
#jp-relatedposts
	.jp-relatedposts-items
	.jp-relatedposts-post
	.jp-relatedposts-post-date {
	opacity: 1;
}
.button,
.button:visited,
button:not(.menu-toggle),
input[type='button'],
input[type='reset'],
input[type='submit'],
#content #infinite-handle span button {
	background: var(--button-color);
	color: var(--dark-shadow-color);
}
.menu-toggle {
	border-color: var(--highlight-color--4);
	color: var(--highlight-color--4);
}
.menu-toggle:hover,
.menu-toggle:focus,
.menu-toggle:active {
	border-color: var(--shadow-color-light);
	color: var(--shadow-color-light);
}
.more-link,
.more-link:visited,
a.more-link {
	background: var(--highlight-color--2);
	color: var(--dark-shadow-color);
}
.post-navigation {
	margin-top: 1.75em;
    padding-top: 1.75em;
	border-top: solid 1px #ddd;
	border-bottom: none;
}
.post-navigation .nav-links a {
	display: inline-block;
    box-sizing: content-box;
    padding: .4375em .875em;
    transition: background 120ms ease-in-out, box-shadow 120ms ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    border: solid 1px transparent;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.post-navigation .nav-links a,
.post-navigation .nav-links a:visited,
.posts-navigation .nav-links a,
.posts-navigation .nav-links a:visited {
	background: var(--highlight-color--1);
	color: var(--dark-shadow-color);
}
.button:hover,
.more-link:hover,
button:not(.menu-toggle):hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover,
.post-navigation .nav-links a:hover,
.posts-navigation .nav-links a:hover,
#content #infinite-handle span button:hover {
	opacity: 0.8;
}
.more-link {
	margin-top: 1.75em;
}
blockquote,
input[type='email']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
.comment-form input[type='email']:active,
.comment-form input[type='email']:focus,
.comment-form input[type='password']:active,
.comment-form input[type='password']:focus,
.comment-form input[type='search']:active,
.comment-form input[type='search']:focus,
.comment-form input[type='text']:active,
.comment-form input[type='text']:focus,
.comment-form input[type='url']:active,
.comment-form input[type='url']:focus,
.comment-form textarea:active,
.comment-form textarea:focus {
	border-color: var(--border-color);
}
p > code,
p > kbd,
p > tt,
p > var,
li > code,
li > kbd,
li > tt,
li > var {
	background: var(--dark-shadow-color);
}
pre {
	color: var(--background-color);
}
.site {
	min-height: calc(100vh - 182px);
}
.site-content pre {
	background: var(--dark-shadow-color);
	padding: 0.75em;
}
.single .post-edit-link a {
	color: var(--text-color);
	background-color: var(--highlight-color--1);
}
.site-footer {
	padding-bottom: 0;
}
.site-info {
	background-color: var(--dark-shadow-color);
	margin-bottom: 0;
	padding: 1.75em 0;
}
.toc {
	padding: 0.15em 0.75em;
    background-color: var(--dark-shadow-color);
}