/*
Theme Name: Dracula Publisher 2
Theme URI: https://github.com/danielwrobert/dracula-publisher-2
Author: Dan Robert
Author URI: https://dwr.io
Template: independent-publisher-2
Description: A child theme for Independent Publisher 2.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: independent-publisher-2-plus
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

:root {
	/* Base Theme Colors */
	/* Note: Some duplicates are because of theme switcher */
	--shadow-color: #282a36;

	/* WordPress Theme Colors (uses base) */
	--dark-shadow-color: var(--shadow-color);
	--code-block-color: #f5f5f5;
}
body:not(.original) {
	/* Base Theme Colors */
	--background-color: #383a59;
	--text-color: #f2f2f2;
	--highlight-color--1: #bd93f9;
	--highlight-color--2: #ff79c6;
	--highlight-color--3: #50fa7b;
	--highlight-color--4: #ffb86c;
	--highlight-color--5: #8be9fd;
	--shadow-color-light: #bcc2cd;
	--shadow-color: #282a36;

	/* WordPress Theme Colors (uses base) */
	--meta-text-color: var(--highlight-color--1);
	--header-color: var(--highlight-color--3);
	--highlight-color: var(--highlight-color--2);
	--highlight-color-alt: var(--highlight-color--5);
	--border-color: var(--highlight-color--4);
	--button-color: var(--highlight-color--1);
	--dark-shadow-color: var(--shadow-color);
	--code-block-color: #fdf6e3;

	background-color: var(--background-color);
}

body,
.entry-content,
.entry-summary,
.entry-meta,
.entry-footer,
.page-content,
.site-info,
.main-navigation,
.comments-area,
.button,
.more-link,
button:not(.menu-toggle),
input[type="button"],
input[type="reset"],
input[type="submit"],
.posts-navigation .nav-links a,
#content #infinite-handle span button {
	font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
h1,
h2,
h3,
h4,
h5,
h6,
.page-header:not(.page-header-light) h1,
.entry-author .author-title,
.entry-title,
.entry-title a,
.entry-title a:visited,
.site-posted-on strong,
.site-posted-on time,
.site-title,
.site-description,
.comments-title,
.comment-reply-title,
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	font-family: 'Ovo', serif;
}
.site-description {
	font-style: italic;
}
body:not(.original),
:not(.original) button,
:not(.original) input,
:not(.original) select,
:not(.original) textarea,
:not(.original) .widget_recent_comments a,
:not(.original) .widget_recent_entries a {
	color: var(--text-color);
}
:not(.original) h1,
:not(.original) h2,
:not(.original) h3,
:not(.original) h4,
:not(.original) h5,
:not(.original) h6,
:not(.original) .page-header:not(.page-header-light) h1,
:not(.original) .entry-author .author-title,
:not(.original) .entry-title,
:not(.original) .entry-title a,
:not(.original) .entry-title a:visited,
:not(.original) .site-posted-on strong,
:not(.original) .site-title,
:not(.original) .site-title a,
:not(.original) .site-title a:visited,
:not(.original) .entry-title a:hover,
:not(.original) .site-title a:hover,
:not(.original) .comment .comment-meta .comment-author .fn {
	color: var(--header-color);
}
:not(.original) .entry-content h2,
:not(.original) .entry-content h3 {
	color: var(--highlight-color--1);
}
:not(.original) .entry-content .sd-title,
:not(.original) .entry-content h4,
:not(.original) .entry-content h5,
:not(.original) .entry-content h6 {
	color: var(--highlight-color--5);
}
:not(.original) .site-title a {
	color: var(--header-color) !important;
}
:not(.original) .site-description {
	color: var(--highlight-color--1);
	font-size: 20px;
}
:not(.original) .social-navigation li a,
:not(.original) .site-header .menu-toggle {
	color: var(--text-color) !important;
}
:not(.original) a,
:not(.original) a:visited,
:not(.original) .comment .comment-meta .comment-metadata a:hover,
:not(.original) .comment-form span.required,
:not(.original) .pingback:before,
:not(.original) .post-details a:hover,
:not(.original) .post-edit-link a:active,
:not(.original) .post-edit-link a:focus,
:not(.original) .post-edit-link a:hover,
:not(.original) .site-info a:hover,
:not(.original) .trackback:before {
	color: var(--highlight-color);
}
:not(.original) .widget-area a,
:not(.original) .widget-area a:visited,
:not(.original) .main-navigation a,
:not(.original) .main-navigation a:visited,
:not(.original) .site-info {
	color: var(--text-color);
}
:not(.original) .main-navigation {
	font-weight: 400;
}
:not(.original) .main-navigation li.current-menu-item > a,
:not(.original) .main-navigation li.current_page_item > a {
	color: var(--highlight-color);
}
:not(.original) .entry-meta,
:not(.original) .entry-meta a:hover,
:not(.original) .entry-meta a {
	color: var(--highlight-color--4);
}
:not(.original) a:hover,
:not(.original) a:focus,
:not(.original) a:active {
	color: var(--highlight-color);
}
:not(.original) .post-tags li a,
:not(.original) .entry-footer {
	color: var(--highlight-color);
}
:not(.original) .post-tags li:first-child {
	color: var(--header-color);
}
:not(.original) .post-tags a:hover {
	color: var(--highlight-color);
}
:not(.original) .post-tags > li > a:hover {
	text-decoration: underline;
}
:not(.original) .site-posted-on time,
:not(.original) .site-posted-on strong {
	color: var(--text-color);
}
:not(.original) .comment-form label {
	color: var(--header-color);
}
:not(.original) .jetpack-social-navigation li a,
:not(.original) .widget_wpcom_social_media_icons_widget li a,
:not(.original) .jetpack-social-navigation li a:hover,
:not(.original) .widget_wpcom_social_media_icons_widget li a:hover,
:not(.original) .jetpack-social-navigation li a:focus,
:not(.original) .widget_wpcom_social_media_icons_widget li a:focus,
:not(.original) .jetpack-social-navigation li a:active,
:not(.original) .widget_wpcom_social_media_icons_widget li a:active {
	color: var(--highlight-color);
}
:not(.original)
	#jp-relatedposts
	.jp-relatedposts-items
	.jp-relatedposts-post
	.jp-relatedposts-post-context,
:not(.original)
	#jp-relatedposts
	.jp-relatedposts-items
	.jp-relatedposts-post
	.jp-relatedposts-post-date {
	opacity: 1;
}
:not(.original) .button,
:not(.original) .more-link,
:not(.original) a.more-link,
:not(.original) button:not(.menu-toggle),
:not(.original) input[type='button'],
:not(.original) input[type='reset'],
:not(.original) input[type='submit'],
:not(.original) #content #infinite-handle span button {
	background: var(--button-color);
	color: var(--dark-shadow-color);
}
:not(.original) .more-link,
:not(.original) a.more-link {
	background: var(--highlight-color--2);
}
.post-navigation {
	margin-top: 1.75em;
    padding-top: 1.75em;
	border-top: solid 1px #ddd;
	border-bottom: none;
}
.post-navigation .nav-links a {
	display: inline-block;
    box-sizing: content-box;
    padding: .4375em .875em;
    transition: background 120ms ease-in-out, box-shadow 120ms ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    border: solid 1px transparent;
    border-radius: 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:not(.original) .post-navigation .nav-links a,
:not(.original) .post-navigation .nav-links a:visited,
:not(.original) .posts-navigation .nav-links a,
:not(.original) .posts-navigation .nav-links a:visited {
	background: var(--highlight-color--1);
	color: var(--dark-shadow-color);
}
:not(.original) .button:hover,
:not(.original) .more-link:hover,
:not(.original) button:not(.menu-toggle):hover,
:not(.original) input[type='button']:hover,
:not(.original) input[type='reset']:hover,
:not(.original) input[type='submit']:hover,
:not(.original) .post-navigation .nav-links a:hover,
:not(.original) .posts-navigation .nav-links a:hover,
#content #infinite-handle span button:hover {
	opacity: 0.8;
}
.more-link {
	margin-top: 1.75em;
}
:not(.original) blockquote,
:not(.original) input[type='email']:focus,
:not(.original) input[type='password']:focus,
:not(.original) input[type='search']:focus,
:not(.original) input[type='text']:focus,
:not(.original) input[type='url']:focus,
:not(.original) textarea:focus,
:not(.original) .comment-form input[type='email']:active,
:not(.original) .comment-form input[type='email']:focus,
:not(.original) .comment-form input[type='password']:active,
:not(.original) .comment-form input[type='password']:focus,
:not(.original) .comment-form input[type='search']:active,
:not(.original) .comment-form input[type='search']:focus,
:not(.original) .comment-form input[type='text']:active,
:not(.original) .comment-form input[type='text']:focus,
:not(.original) .comment-form input[type='url']:active,
:not(.original) .comment-form input[type='url']:focus,
:not(.original) .comment-form textarea:active,
:not(.original) .comment-form textarea:focus {
	border-color: var(--border-color);
}
:not(.original) p > code,
:not(.original) p > kbd,
:not(.original) p > tt,
:not(.original) p > var,
:not(.original) li > code,
:not(.original) li > kbd,
:not(.original) li > tt,
:not(.original) li > var {
	background: var(--dark-shadow-color);
}
:not(.original) pre {
	color: var(--background-color);
}
.site-content pre {
	background: var(--dark-shadow-color);
	padding: 0.75em;
}
:not(.original).single .post-edit-link a {
	color: var(--text-color);
	background-color: var(--highlight-color--1);
}